---
import { getConnection } from "../../scripts/connection";
import Layout from "../../layouts/Layout.astro";
import Footer from "../../components/Footer.astro";
import Header from "../../components/Header.astro";
import Main from "../../layouts/Main.astro";
import type { Customer } from "../../variables/interfaces";

const query = "SELECT * FROM customers";
const customers: Customer[] = (await getConnection(query)) as Customer[];
const table = "Customers";
const columns = [
    "customer_id",
    "customer_name",
    "contact_email",
    "contact_phone",
];
---

<Layout title={table}>
    <Header />
    <Main>
        <div class="w-full min-h-full flex flex-col items-center gap-5 p-4">
            <h1 class="sm:text-2xl text-base font-semibold mb-5">
                Tabla {table}
            </h1>
            <article class="sm:w-10/12 w-full flex justify-center items-center">
                <table class="w-full">
                    <tr class="text-center font-bold">
                        {
                            columns.map((column) => (
                                <td class="border border-black">{column}</td>
                            ))
                        }
                    </tr>
                    {
                        customers.map((customer) => (
                            <tr class="text-center ">
                                <td class="border border-black">
                                    {customer.customer_id}
                                </td>
                                <td class="border border-black">
                                    {customer.customer_name}
                                </td>
                                <td class="border border-black">
                                    {customer.contact_email}
                                </td>
                                <td class="border border-black">
                                    {customer.contact_phone}
                                </td>
                            </tr>
                        ))
                    }
                </table>
            </article>
            <a
                href="/"
                class="font-semibold px-8 py-2 transition duration-300 ease-in-out hover:scale-110 rounded-lg bg-sky-300"
                >Volver</a
            >
        </div>
    </Main>
    <Footer />
</Layout>
