---
import { getConnection } from "../../scripts/connection";
import Layout from "../../layouts/Layout.astro";
import Footer from "../../components/Footer.astro";
import Header from "../../components/Header.astro";
import Main from "../../layouts/Main.astro";
import type { Query3 } from "../../variables/interfaces";

const query = `SELECT projects.project_id, projects.project_name, projects.budget, ROUND(SUM((employees_realistic.salary/1900)*employee_projects.hours_worked)) AS total, ROUND(SUM((employees_realistic.salary/1900)*employee_projects.hours_worked)/projects.budget) AS project_fraction
               FROM employee_projects
               INNER JOIN employees_realistic
               ON employee_projects.employee_id = employees_realistic.employee_id
               INNER JOIN projects
               ON employee_projects.project_id = projects.project_id
               GROUP BY projects.project_name
               ORDER BY projects.project_id ASC`;

const customers: Query3[] = (await getConnection(query)) as Query3[];
const table = "Query3";
const columns = [
    "project_id",
    "project_name",
    "budget",
    "total",
    "project_fraction",
];
---

<Layout title={table}>
    <Header />
    <Main>
        <div class="w-full min-h-full flex flex-col items-center gap-5 p-4">
            <h1 class="sm:text-2xl text-base font-semibold mb-5">
                Tabla {table}
            </h1>
            <article class="sm:w-10/12 w-full flex justify-center items-center">
                <table class="w-full">
                    <tr class="text-center font-bold">
                        {
                            columns.map((column) => (
                                <td class="border border-black">{column}</td>
                            ))
                        }
                    </tr>
                    {
                        customers.map((customer) => (
                            <tr class="text-center ">
                                <td class="border border-black">
                                    {customer.project_id}
                                </td>
                                <td class="border border-black">
                                    {customer.project_name}
                                </td>
                                <td class="border border-black">
                                    {customer.budget}
                                </td>
                                <td class="border border-black">
                                    {customer.total}
                                </td>
                                <td class="border border-black">
                                    {customer.project_fraction}
                                </td>
                            </tr>
                        ))
                    }
                </table>
            </article>
            <a
                href="/"
                class="font-semibold px-8 py-2 transition duration-300 ease-in-out hover:scale-110 rounded-lg bg-sky-300"
                >Volver</a
            >
        </div>
    </Main>
    <Footer />
</Layout>
